/* reusable colors */
:root{
    --color-background-btn:rgb(194, 218, 255);
    --color-background-btn-hover:rgb(116, 172, 111);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html {
	min-height: 100vh;
	margin: 0;
}