/* reusable colors */
:root{
    --color-background-btn:rgb(194, 218, 255);
    --color-background-btn-hover:rgb(116, 172, 111);
}

body,html {
	min-height: 100vh;
	margin: 0;
	background: linear-gradient(rgb(116, 214, 214),rgb(192, 192, 255));
}