/* reusable colors */
:root{
	--color-bg:#1f354e;
	--color-bg-low-alpha:#1f354e7f;
	--color-bg-soft:#e5f1ff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html {
	min-height: 100vh;
	margin: 0;
}