.logo {
	background-color: rgba(240, 248, 255, 0.651);
	border-radius: 9px;
	padding: 3px;
	scale: 100%;
	transition-duration: 0.5s;
}
.logo:hover {
	/* padding: 10px; */
	scale: 101%;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
}
body {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("./background.jpg");
	background-size: cover;
}
.page-header-1 {
	filter: contrast(50%) grayscale(100%) brightness(120%);
	width: 500px;
	margin-bottom: 13px;
	margin-top: 10px;
}
.paper-btn {
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	border-style: double;
	transition-duration: 0.3s;
	filter: contrast(130%) hue-rotate(70deg);
}
.login-guest {
	background-image: url("אורח.png");
	height: 150px;
	width: 250px;
}

.create-account {
	background-image: url("משתמש חדש.png");
	height: 150px;
	width: 750px;
}

.login {
	background-image: url("משתמש קיים.png");
	height: 150px;
	width: 750px;
}

.paper-btn:hover {
	background-color: rgba(0, 0, 0, 0.4);
	margin: 20px;
	filter: contrast(100%);
}
