* {
	font-family: Poeti, sans-serif;
}
.logo {
	border-radius: 9px;
	padding: 3px;
	transition-duration: 0.5s;
}
.logo:hover {
	/* padding: 10px; */
	scale: 101%;
}
header {
}
main {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
	flex: 1;
}
body {
	display: flex;
	flex-direction: column;
}
header {
	background-color: #251f4e;
	text-align: center;
	padding: 20px;
	width: 100%;
}
h1 {
	color: white;
	transition-duration: 0.5s;
}
h1:hover {
	color: #087a81;
}
.login-guest {
}

.create-account {
}

.login {
}

.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.enter-btn {
	width: fit-content;
	background-color: #251f4e;
	text-align: center;
	margin: 10px;
	box-shadow: 0px 4px 11px 1px rgb(0 0 0 / 50%);
	transition-duration: 0.4s;
}
.enter-btn a {
	padding: 10px;
	display: inline-block;
	font-size: large;
	color: white;
	text-decoration: none;
}
.enter-btn:hover {
	margin: 15px;
	scale: 110%;
}
footer {
	background-color: #251f4e;
	padding: 20px;
	color: white;
	text-align: center;
}
