.ns-course-browser{

}

/* .content-course-list {
	list-style: none;
	display: flex;
	overflow: auto;
	justify-content: start;
	width: 100vw;
	padding-left: 30px;
}
.content-course-preview-item {
	margin: 20px;
	padding: 30px;
	transition-duration: 0.4s;
	background-color: var(--color-bg);
}
.content-course-preview-item:hover {
	margin: 30px;
	scale: 110%;
}
.content-course-preview {
	display: inline-flex;
	flex-direction: column;
	color: white;
}
.content-course-preview-image {
	max-height: 200px;
}
.content-course-group-container {
	margin-left: auto;
	margin-top: 20px;
}

.content-submit-course-container {
	margin-top:30px;
	margin-bottom:30px;
}
.content-submit-course{
	color:white;
	background-color: var(--color-bg);
	padding:10px;
	border-radius: 20px;
} */