@keyframes btnContainerLoadAnim {
	0% {
		opacity: 0;
		transform: translateY(-10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.ns-entry .menu {
	background-color: var(--color-bg-low-alpha);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	animation: 0.5s ease-out 0s btnContainerLoadAnim;
	padding: 6px;
	border-radius: 3px;
}
.ns-entry .btn {
	width: fit-content;
	text-align: center;
	margin: 10px;
	transition-duration: 0.4s;
	background-color: var(--color-bg);
	padding: 10px;
	font-size: large;
}
.ns-entry .btn:hover {
	margin: 15px;
	scale: 110%;
	font-size: larger;
}