/* 
	Plays an animation of the buttons fading in and sliding down.
	Used for testing, feel free to remove.
*/
@keyframes btnContainerLoadAnim {
	0% {
		opacity: 0;
		transform: translateY(-10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.entry-btn-container {
	background-color: var(--color-bg-low-alpha);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	animation: 0.5s ease-out 0s btnContainerLoadAnim;
	padding: 6px;
	border-radius: 3px;
}