/* 
.ns-new-acc .form {
	background-color: var(--color-bg);
	color: white;
	display: flex;
	margin: auto;
	flex-direction: column;
	padding: 30px;
}
.ns-new-acc .label {
	padding: 3px;
	text-decoration: underline;
}
.ns-new-acc .enter-btn {
	margin-top: 50px;
	padding: 2px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: var(--color-bg-soft);
	transition-duration: 0.2s;
	width: fit-content;
}
.ns-new-acc .enter-btn:hover {
	padding: 5px;
	padding-left: 40px;
	padding-right: 40px;
}

.new-acc-enter-btn-container {
	text-decoration: none;
    cursor: pointer;
} */
.ns-new-acc .col {
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.ns-new-acc .row {
	display: flex;
	flex-direction: row;
} 