<nav id="entry-view" class="entry-btn-container">
    <div class="btn-main drop-box-shadow">
        <a href="login" hx-boost="true" hx-target="#main-container" hx-push-url="true" hx-swap="innerHTML"
            hx-get="login">כניסה</a>
    </div>
    <div class="btn-main drop-box-shadow">
        <a href="content" hx-boost="true" hx-target="#main-container" hx-push-url="true" hx-swap="innerHTML"
            hx-get="content?user=guest">כניסה בתור אורח</a>
    </div>
    <div class="btn-main drop-box-shadow">
        <a href="login/login.html">יצירת משתמש</a>
    </div>
</nav>