
/* HIT logo at the top of the page. */
.logo {
	border-radius: 9px;
	padding: 7px;
	transition-duration: 0.5s;
	background-color: #ffffffff;
	height: 95px;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}


/* 
	A small animation of the header fading in.
	Used to test how animations work, feel free to remove.
*/
@keyframes h1LoadAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
h1 {
	transition-duration: 0.5s;
	width: fit-content;
	margin: auto;
	animation: 2s ease-out 0s h1LoadAnim;
}

/* 
	Changes the color when hovering the heading.
	Used for testing, feel free to remove.
*/
h1:hover {
	color: #087a81;
}
main {
	margin-bottom:100px;
}
/* 
	Plays an animation of the buttons fading in and sliding down.
	Used for testing, feel free to remove.
*/
@keyframes btnContainerLoadAnim {
	0% {
		opacity: 0;
		transform: translateY(-10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.btn-container {
	background-color: var(--color-bg-low-alpha);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	animation: 0.5s ease-out 0s btnContainerLoadAnim;
	padding: 6px;
	border-radius: 3px;
}
footer {
	padding: 20px;
}

