{{ block "admin" . }}
<div class="ns-admin">
    {{ template "admin-form" .FormData }}

    <!-- <div id="corse-list-container">

    </div> -->
    {{ template "course-list" .Courses }}
</div>
{{ end }}

{{ block "admin-form" . }}
<form class="form" hx-target="#main-container" hx-post="/admin/course" enctype="multipart/form-data">
    <h2>יצירת קורס</h2>
    <label>שם</label><input type="text" name="course-name" {{ if .Values.CourseName }} value="{{ .Values.CourseName }}" {{ end }} >
    <label>סרטון</label> <input type="file" name="video">
    <label>תמונה</label> <input type="file" name="thumbnail">
    <button type="submit">הוסף</button>

    {{ if .Values.CourseAdded }}
    <span style="color: green;">{{ .Values.CourseAdded }}</span>
    {{ end }}
    {{ if .Errors.FailedRegistering }}
    <span style="color: red;">{{ .Errors.FailedRegistering }}</span>
    {{ end }}
    <script>
        document.title = "EduHITZone - Admin";
    </script>
</form>
{{ end }}