{{ block "course" . }}
<div class="ns-course">
    <video controls id="course-video" src="/static/2024-06-30 19-37-25.mp4" height="480px"></video>
    <div style="background-color: var(--color-bg);color:white;">
        INSERT SUMMERY HERE
    </div>
    <div>
        {{ template "chat" . }}
    </div>
    <script>

    </script>
</div>
{{ end }}

{{ block "chat" . }}
<div class="ns-chat">
    <div>
        {{ template "message" . }}
    </div>
    <form>
        <input type="text" placeholder="message">
        <input type="file">
        <img>
        <button>Send</button>
    </form>
</div>
{{ end }}

{{ block "message" . }}
<div>
    Message content
</div>
{{ end }}