<!-- {{ block "course-page" . }}
<div class="content-course-group-container" id="course-group-container">
    <h2>קורסים פופולרים</h2>
    {{ template "course-list" . }}    
</div>
{{ end }} -->

{{ block "course-list" . }}
<ul class="ns-course-list">
    {{ range . }}
    {{ template "course-item" . }}
    {{ end }}
</ul>
{{ end }}

{{ block "course-item" . }}
<li class="course-display drop-box-shadow">
    <a class="content-link" href="{{ .Href }}?id={{ .Id }}">
        <img class="course-preview-image"
            src="{{ .Thumbnail }}">
        <div>
           {{ .Name }}
        </div>
    </a>
</li>
{{ end }}