<div class="ns-login">
    <form class="form" hx-target="#error-msg" hx-post="/api/v1/login/form" hx-swap="outerHTML">
        <label class="label">תעודת זהות:</label> <input type="text" name="name">
        <label class="label">סיסמה:</label> <input type="password" name="password">
        <div class="enter-btn-container">
            <button class="enter-btn">כניסה</button>
            <button class="new-acc-btn" hx-get="/new-acc" hx-push-url="true" hx-target="#main-container" hx-swap="innerHTML">משתמש חדש</button>
        </div>
        <!-- <button>יצירת משתמש</button> -->
        <span id="error-msg"></span>
        <script>
            document.title = "EduHITZone - Login";
        </script>
    </form>
</div>