{{ block "new-acc" . }}
<div class="ns-new-acc">
    <form class="form" hx-target="#error-msg" hx-post="/new-acc" hx-swap="outerHTML">
        <label class="label">תעודת זהות</label> <input type="number" name="user-id">
        <label class="label">שם משתמש</label> <input type="text" name="username">
        <label class="label">סיסמה</label> <input type="password" name="password">
        <label class="label">שוב סיסמה</label> <input type="password" name="password-confirm">
        <div class="enter-btn-container">
            <button class="enter-btn">צור משתמש</button>
        </div>
        <span id="error-msg">{{ if .Errors }} {{ end }}</span>
        <script>
            document.title = "EduHITZone - Create Account";
            document.addEventListener("htmx:beforeSwap", function (evt) {
                if (evt.detail.xhr.status === 422) {
                    evt.detail.shouldSwap = true;
                    evt.detail.isError = false;
                }
            })
        </script>
    </form>
</div>
{{ end }}

{{ block "new-acc-failed" . }}
<span id="error-msg" style="color:red"> Error: {{ . }}</span>
{{ end }}
{{ block "new-acc-success" . }}
<span id="error-msg" style="color:red"> Success, Welcome: {{ .FullName }}!</span>
{{ end }}