/* reusable colors */
:root {
	--color-bg: #1f354e;
	--color-bg-low-alpha: #1f354e7f;
	--color-bg-soft: #e5f1ff;
}

/* Shared values */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poeti, sans-serif;
}

/* 
	Default element styles
	Default style for different various elements.
	Might regret this later, but might also be thankful.
*/
body,
html {
	direction: rtl;
	display: flex;
	flex-direction: column;
	background-color: var(--color-bg-soft);
	min-height: 100vh;
	margin: 0;
}

header {
	text-align: center;
	background-color: var(--color-bg);
	color: white;
	padding: 20px;
}
header {
	padding: 20px;
}
h1 {
	width: fit-content;
	margin: auto;
}
main {
	flex: 1;
	background-color: var(--color-bg-soft);
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}
footer {
	text-align: center;
	background-color: var(--color-bg);
	color: white;
	padding: 20px;
}

a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: rgb(194, 198, 255);
}
a:active {
	color: rgb(255, 221, 193);
}
input {
	background-color: var(--color-bg-soft);
}
button {
	background-color: var(--color-bg-soft);
}
input:focus {
	background-color: rgb(255, 221, 193);
}
button:active {
	background-color: rgb(255, 221, 193);
}

/* Classes */

/* HIT logo at the top of the page. */
.logo {
	border-radius: 9px;
	padding: 7px;
	transition-duration: 0.5s;
	background-color: #ffffffff;
	height: 95px;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}
/* A subtle animation when hovering on the logo. */
.logo:hover {
	scale: 101%;
}
/* An important button, such the ones in index.HTML */
.btn-main {
	width: fit-content;
	text-align: center;
	margin: 10px;
	transition-duration: 0.4s;
	background-color: var(--color-bg);
	padding: 10px;
	font-size: large;
}
.btn-main:hover {
	margin: 15px;
	scale: 110%;
	font-size: larger;
}

/* Add a small shadow under an element */
.drop-box-shadow {
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.6);
	/* 
	The z-index is there because without it the headers shadow would be covered by the next element.
	*/
	z-index: 1;
}
/* HIT logo at the top of the page. */
.logo {
	border-radius: 9px;
	padding: 7px;
	transition-duration: 0.5s;
	background-color: #ffffffff;
	height: 95px;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}