@keyframes waveAnim {
	0% {
		transform: translateX(3px);
	}
	100% {
		transform: translateX(-3px);
	}
}
h1 {
	text-align: center;
	padding: 12px;
	width: fit-content;
	margin: auto;

	/* 
		Small animation for the hand waving. 
		Small, but neat.
	*/
	animation-name: waveAnim;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}
header {
	padding: 0;
}
main {
	padding-top: 20px;
	align-items: start;
}
.course-list {
	padding: 20px;
	list-style: none;
	display: flex;
	overflow: auto;
}

.course-preview-item {
	margin: 20px;
	padding: 30px;
	transition-duration: 0.4s;
	background-color: var(--color-bg);
}
.course-preview-item:hover {
	margin: 30px;
	scale: 110%;
}
.course-preview {
	display: inline-flex;
	flex-direction: column;
	color: white;
}
.course-preview-image {
	max-height: 200px;
}
.course-group-container {
	padding-inline-start: 30px;
}
