<div class="ns-admin">
    <form class="form" hx-target="#error-msg" hx-post="/api/v1/admin/form" hx-swap="outerHTML">
        <h2>יצירת קורס</h2>
        <label>שם</label> <input name="course-name">
        <label>סרטון</label> <input type="url" name="video">
        <label>תמונה</label> <input type="url" name="thumbnail">
        <button>הוסף</button>
        <span id="error-msg"></span>
        <script>
            document.title = "EduHITZone - Admin";
        </script>
    </form>
    {{ template "course-list" . }}
</div>